.collection-item {
  height: 350px;
  margin-bottom: 30px;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
  }

  .collection-footer {
    .name {
      width: 100%;
      text-align: center;
      display: block;
      font-weight: bold;
    }

    .price {
      width: 100%;
      text-align: center;
      display: block;
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: gray;
    }
  }
}
