.cta-btn {
  margin-bottom: 10px;
  transition: all 0.6s ease-in-out;
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: #000000;

    svg {
      color: #488558;
    }
  }
}
