.cta-btn {
  padding: 15px;
  background-color: #000;
  margin-bottom: 10px;
  border: none;
  transition: all 0.6s ease-in-out;
  color: #fff;

  &:hover {
    text-decoration: none;
    background-color: gray;
  }
}
