.cart-icon {
  cursor: pointer;
  position: relative;

  .shopping-icon {
    font-size: 30px;
  }

  .item-count {
    color: #fff;
    position: absolute;
    z-index: 2;
    font-size: 10px;
    top: 1px;
    right: 10px;
  }
}
